extends ../layout

block content
  h1 Actors

  a(href="/actors/add") Add

  table
    thead
      tr
        th Name
        th Last name
        th
    tbody
      each actor in actors.docs
        tr
          td= actor.name
          td= actor.lastName
          td
            form(method='POST' action=`/actors/${actor.id}?_method=DELETE`)
              input(type='submit')
          td
            a(href=`/actors/update/${actor.id}`) Edit

  a(href="/actors/1") << &Tab;
  if actors.hasPrevPage
    a(href=`/actors/${actors.prevPage}`) <  &Tab;
  if actors.hasNextPage
    a(href=`/actors/${actors.nextPage}`) >  &Tab;
  a(href=`/actors/${actors.totalPages}`) >>  &Tab;
